@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
*, *::after, *::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.cart-item {
    width: 100%;
    background: #fff;
    box-shadow: 0px 0px 2px 0px #aaa;
}

.cart-up {
    display: grid;
    grid-template-columns: 2fr 2fr 3fr;
    padding: 3px 5px;
    border-bottom: 1px solid #aaa;
}

.cart-up h3 {
    font-family: var(--Roboto);
    padding-top: 8px;
    letter-spacing: 0px;
    font-size: 1.8rem;
    font-weight: 600;
    color: #555;
}

.cart-up div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-around;
}

.cart-up div img {
    margin-top: -0.81rem;
    margin-left: 7.3rem;
}

.cart-up div p {
    font-size: 1.4rem;
    font-weight: 600;
    color: gray;
    font-family: var(--Roboto);
    letter-spacing: 1px;
}

.cart-up span h3 {
    border: 1px solid #aaa;
    font-size: 1.4rem;
    padding: 10px;
    font-weight: 700;
    font-family: var(--Roboto);
    margin-top: 4px;
    border-radius: 4px;
}

.img-crt img {
    width: 11rem;
    /* margin-left: 20px; */
    display: inline-block;
    margin-bottom: 1rem;
}

.img-and-btn {
    margin: 10px auto;
    text-align: center;
}

/* cart section middle section working */

.cart-mid {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    border-bottom: 0.1px solid #ddd;
    padding: 10px;
}

.cart-txt {
    width: 260px;
}

.crt-btn-crl {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

div.quantity {
    display: flex;
    width: 30px;
    height: 30px;
    padding: 0 10px;
    flex-grow: 1;
    border: 1px solid #ddd;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.crt-btn-crl div:first-child, .crt-btn-crl div:last-child {
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #ddd;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.crt-btn-crl {
    font-size: 2rem;
    font-weight: 500;
    font-family: var(--Roboto);
    position: relative;
    cursor: pointer;
}

.cart-txt {
    padding: 10px 5px;
}

.cart-txt h3 {
    color: #000;
    font-size: 1.6rem;
    letter-spacing: 0px;
    font-family: var(--Roboto);
    font-weight: 400;
}

.cart-txt h3:hover {
    color: blue;
    cursor: pointer;
}

.cart-txt p {
    font-size: 1.3rem;
    font-weight: 500;
    color: #999;
    font-family: var(--Roboto);
    letter-spacing: 0px;
    margin: 1rem 0;
}

.cart-txt p img {
    width: 70px;
    display: inline-block;
    position: absolute;
    margin-left: 0.7rem;
    margin-top: -0.3rem;
}

.cart-txt h2 {
    font-family: var(--Roboto);
    letter-spacing: 0px;
    font-size: 1.6rem;
    margin-top: 2.8rem;
}

.cart-txt h2 span {
    color: #999;
    font-size: 1.4rem;
    margin-left: 0.5rem;
}

.last-crt {
    height: 70px;
    display: flex;
    justify-content: flex-start;
    margin: 20px 0px 0px 0px;
}

.last-crt button:first-child {
    flex-grow: 1;
    text-align: left;
}

.last-crt button:last-child {
    flex-shrink: 1;
    width: 20%;
}

.last-crt button:last-of-type {
    flex-shrink: 1;
}

.last-crt button {
    background: transparent;
    outline: none;
    border: none;
    font-size: 1.6rem;
    font-weight: 700;
    color: #444;
}

.last-crt button:hover {
    color: blue;
    cursor: pointer;
}

.cart-plc {
    padding: 10px;
    margin-top: -2px;
}

.cart-plc h3 {
    font-size: 1.4rem;
    letter-spacing: 0px;
    font-family: var(--Roboto);
}

.cart-plc p {
    color: #999;
    letter-spacing: 0;
    font-size: 1.4rem;
    font-family: var(--Roboto);
    margin-top: 2rem;
}

/* images  */

.pics-of-img {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top: -10px;
}

.img-pics div img {
    width: 360px;
    height: auto;
    margin: 10px;
}

/* price details is here css  */

.parent-cart {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.price-details {
    background: #fff;
    height: 300px;
    width: 30%;
    margin: 0 40px;
    position: sticky;
    top: 10%;
    box-shadow: 0px 0px 2px 0px #aaa;
    flex-shrink: 1;
}

.c-card {
    width: 60%;
}

.detail div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 10px;
}

.price-details h3 {
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #555;
    padding: 20px 10px;
    border-bottom: 1px solid #ddd;
}

.detail div:last-of-type {
    border: 1.3px dashed #aaa;
    padding: 20px 10px;
    font-weight: 700;
    font-size: 30px;
    border-color: #ddd transparent #ddd transparent;
    margin-bottom: 20px;
}

.detail div:last-of-type span {
    font-size: 1.8rem;
    color: #555;
}

.detail>span:last-child {
    padding: 10px;
}

.Empty-cart .cart-mid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
}

.image-empty-cart img {
    width: 250px;
    display: block;
    height: auto;
}

div.shopnow button {
    background: blue;
    padding: 12px 5px;
    width: 200px;
    margin: 1rem 0;
    outline: none;
    border: none;
    font-size: 1.2rem;
    font-weight: 400;
    color: #fff;
}

.shopnow button:hover {
    cursor: pointer;
}

div.shopnow a {
    color: white;
}

.cart-order {
    display: flex;
    justify-content: flex-end;
    position: sticky;
    bottom: 0%;
    background: #fbfbfb;
    box-shadow: 0px -1px 6px 0px #aaa;
}

.cart-order button:hover {
    cursor: pointer;
}

.cart-order button {
    background: #fb641b;
    padding: 19px 5px;
    width: 200px;
    margin: 1rem 2rem;
    outline: none;
    font-weight: 700;
    border: none;
    font-size: 1.5rem;
    letter-spacing: 0.4px;
    color: #fff;
}

.cart-up h3 {
    font-size: 1.6rem;
    padding: 10px;
}

.mobile-price {
    display: none;
}

/* //////////////////////////////// */

@media (max-width:1063px) {
    .price-details {
        margin: 0 10px;
    }
    .img-and-btn {
        width: 110px;
    }
}

@media (max-width:967px) {
    .parent-cart {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .parent-cart div.cards {
        width: 90%;
        margin: 0 40px;
    }
    .parent-cart div.price-details {
        width: 100%;
        margin-left: 0px;
    }
    .mobile-price {
        display: block;
        position: static;
    }
    .price-details {
        position: static;
        width: 100%;
        margin-top: 40px;
    }
    .laptop-price {
        display: none;
    }
    .cart-plc {
        display: none;
    }
    .cart-mid {
        justify-content: space-around;
        font-size: 10px;
    }
    .img-crt img {
        width: 80px;
    }
    .last-crt button {
        justify-content: flex-start;
        font-size: 1.4rem;
        width: 160px;
    }
    .quantity {
        margin: 0px;
    }
    .increase, .dicrease {
        margin: 0px;
        padding: 10px;
    }
    .cart-txt {
        margin-left: 10px;
    }
    div.img-and-btn {
        margin-right: 10px;
    }
}

@media (max-width:392px) {
    .cart-txt {
        width: 200px;
    }
    .parent-cart div.cards {
        position: relative;
        width: 100%;
    }
    div.last-crt {
        display: flex;
        height: 20px;
    }
    div.last-crt button {
        font-size: 1.4rem;
    }
    div.last-crt button:last-of-type {
        font-size: 1.4rem;
        margin-right: 10px;
    }
    .cart-up{
        display: flex;
        justify-content: space-between;
    }
    .cart-order button{
        padding: 10px;
        width: 180px;
        
    }
}

@media (min-width:361px) and (max-width:461px) {
    .parent-cart {
        margin-top: 55px;
    }
    .cart-txt {
        width: 200px;
    }
    .parent-cart div.cards {
        position: relative;
        width: 90%;
    }
    div.last-crt {
        display: flex;
        height: 20px;
    }
    div.last-crt button {
        font-size: 1.4rem;
    }
    div.last-crt button:last-of-type {
        font-size: 1.4rem;
        margin-right: 10px;
    }
}