*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

h1{
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: 0.15rem;
    margin-bottom: 0.15em;
}

h2{
    font-size: 2.4rem;
    font-weight: 500;
}

h3{
    font-size: 1.6rem;
    font-weight: 300;
}



